<!DOCTYPE html>
<html>

<head>
    <title>Forget Password Email</title>
</head>

<body>
    <div>
        <h3>Dear Customer,</h3>
        <p>We have recieved a request to reset the password to your account.<br>
            If you want to continue, please open the following link to your browser.<a href="{{url}}"><br><br>Reset Password</a><br>
        </p>
        <p style="color: darkslategrey;">
            If you didn't raise this request, please ignore this mail.
        </p>
        <br>
        <p>Regards,<br>flightSure Customer Support.</p>
    </div>

</body>

</html>